@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: linear-gradient(#2C257A, #000000);
    --text-color: #D5D5D5;
    --text-hover: #9f9a9a;
    --circle-color: #0A69C0;
    --btn-color: linear-gradient(to right, #0487FF, #04FFF0);
}

html,
body {
    background: var(--background);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

nav {
    display: flex;
    margin: 15px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;

}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: cursive;
    cursor: pointer;
}

header>nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    margin: 0 23px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    transition: all 0.3s ease-out;
}

nav ul li a:hover {
    cursor: pointer;
    color: var(--text-hover);
    transform: scale(1.3);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: none;
}

.social img {
    transition: all 0.3s ease-out;
}

.social img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.left {
    position: relative;
    top: 50px;
    left: 80px;
    min-height: 50vh;
    min-width: 40vw;

}

.left h3 {
    font-size: 30px;
    font-weight: bold;
}

.left h1 {
    font-size: 40px;
    font-weight: bold;
}

.left h3,
h1 {
    color: white;
}

#element {
    color: #04FFF0;

}

.btn {
    margin: 25px 0;
    padding: 10px 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background: var(--btn-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn>a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.btn-text {
    margin-right: 5px;

}

.arrow {
    width: 20px;
    height: 20px;
    filter: invert(1);
    transition: transform 0.3s ease;
}


.btn:hover .arrow {
    transform: rotate(90deg);
}


.right {
    display: flex;
    justify-content: end;
}

.back-circle {
    height: 457px;
    width: 375px;
    background-color: var(--circle-color);
    border-radius: 50%;
    border: 3px solid #2C257A;
    transform: rotate(-130deg);
    position: relative;
    right: 80px;
    box-shadow: -10px 0px 10px #2C257A;
}

.back-circle:hover {

    animation: float 1s ease-in infinite alternate;
}

.hero {
    position: relative;
    top: 60px;
    left: 9px;
    transform: rotate(130deg);
    width: 350px;
}



@keyframes float {
    from {
        top: 0;
    }

    to {
        top: 10px;
    }

}